<!doctype html>
<html>
<head th:fragment="headhtml">
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	
	<script src="/js/scripts.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"></link>
	<meta charset="UTF-8"></meta>
</head>

<body>
	<div class="container">
			
			<header th:fragment="header" class="row">
				<nav class="col-12 navbar navbar-expand-lg navbar-light bg-light">
					<div class="col-2">
						<a class="navbar-brand" href="/"><img
						class="img-fluid" src="/imagenes/icono.png"></img></a>
					</div>
					<a href="javascript:void(0);" class="centrado glyphicon-shopping-cart my-cart-icon navbar-toggler carrito"><i class="fa fa-shopping-cart"><span class="badge badge-notify my-cart-badge"></span></i></a>
					<form class="form-inline my-2 my-lg-0 col-3 navbar-toggler" action="/busqueda">
							<input name="busqueda" class="mr-sm-2 form-busqueda col-8" type="search"
								placeholder="Buscar..." aria-label="Search"></input>
							<button type="submit" class="btn btn-outline-dark flex-end"><i class="fa fa-search"></i></button>
					</form>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					
					

					<div class="collapse navbar-collapse col-10 no-padding boton-prueba" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active"><a class="nav-link" href="/">Home
									<span class="sr-only">(current)</span>
							</a></li>
							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" href="/listado"
								id="navbarDropdown" role="button" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"> Productos </a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="/listado/0">Todos los productos</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/placas-de-video/0">Placas de video</a> 
									<a class="dropdown-item" href="/microprocesadores/0">Microprocesadores</a>
									<a class="dropdown-item" href="/discos-duros/0">Discos duros</a>
									<a class="dropdown-item" href="/motherboards/0">Motherboards</a>
									<a class="dropdown-item" href="/memorias/0">Memorias</a>
								</div></li>
							<li class="nav-item"><a class="nav-link" href="/armar-pc-de-prueba">Probar PC</a></li>
							<li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
							<li><a href="javascript:void(0);" class="centrado glyphicon-shopping-cart my-cart-icon"><i class="fa fa-shopping-cart"><span class="badge badge-notify my-cart-badge"></span></i></a></li>
						</ul>
						<form class="form-inline my-2 my-lg-0 col-3" action="/busqueda">
							<input name="busqueda" class="mr-sm-2 form-busqueda col-8" type="search"
								placeholder="Buscar..." aria-label="Search"></input>
							<button type="submit" class="btn btn-outline-dark flex-end"><i class="fa fa-search"></i></button>
						</form>
						<ul th:if="${estaLogeado} == false" class="navbar-nav mr-auto col-3">
							<li class="nav-item active"><a class="nav-link" href="/registrate">Registrarse<span class="sr-only">(current)</span></a></li>
							<li class="nav-item active"><a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a></li>
						</ul>
						<ul th:if="${estaLogeado} == true" class="navbar-nav col-3 usuariolog">
							<li class="col-5"><img class="img-fluid" th:src="${imgperfil}"></img></li>
							<div class="row">
								<li class="nav-item active "><a class="nav-link" th:href="'/perfil/' + ${nick}">Perfil<span class="sr-only">(current)</span></a></li>
								<li class="nav-item active "><a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a></li>
							<div th:if="${logeadoisadmin} == true">
								<li class="nav-item active "><a class="nav-link" href="/administrar">Administrador<span class="sr-only">(current)</span></a></li>
							</div>
							</div>
						</ul>
					</div>
				</nav>
			</header>
		</div>
		<footer th:fragment="footer" class="row bg-light pad-top">
			<div class="col-12">
				<div class="row">
					<div class="col-1"></div>
					<div class="col-5">SÍGUENOS EN NUESTRAS REDES</div>
					<div class="col-5">CONTÁCTANOS</div>
				</div>
				<div class="row">
					<div class="col-1 logoredes"><a href="https://www.Twitter.com/"><img class="img-fluid" src="/imagenes/twitterlogo.png"></img></a></div>
					<div class=" col-5"><a href="https://www.Twitter.com/"><h6>Twitter</h6></a></div>
					<div class=" col-5">Avenida Scalabrini Ortiz 582, Villa Crespo, CABA</div>
				</div>
				<div class="row">
					<div class="col-1 logoredes"><a href="https://www.facebook.com/"><img class="img-fluid" src="/imagenes/facebooklogo.png"></img></a></div>
					<div class=" col-5"><a href="https://www.facebook.com/"><h6>Facebook</h6></a></div>
					<div class=" col-5">Tel: 4428-5963</div>
				</div>
				<div class="row">
					<div class="col-1 logoredes"><a href="https://www.instagram.com/"><img class="img-fluid" src="/imagenes/instagramlogo.png"></img></a></div>
					<div class=" col-5"><a href="https://www.instagram.com/"><h6>Instagram</h6></a></div>
					<div class=" col-5">contacto@happel.com</div>
				</div>
			</div>
		</footer>


</body>
</html>


