<!doctype html>
<html>
<head>
	<meta charset="UTF-8"></meta>
	<script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Desafio MYO</title>
</head>

<body>
	<div class="container">
			<h2>TABLA DE POSICIONES</h2>
			<table id="players">
				<tr>
					<th onclick="sortTable(0)">Posicion</th>
		          	<th onclick="sortTableNick(1)">Nombre</th>
		          	<th onclick="sortTableElo(2)">Elo</th>
		          	<th onclick="sortTableTotal(3)">Total</th>
		          	<th onclick="sortTableWin(4)">Ganadas</th>
		          	<th onclick="sortTableLose(5)">Perdidas</th>
		          	<th onclick="sortTablePercent(6)">WinRate</th>
				</tr>
				<tr th:id="${summoner.nombre}" th:each="summoner:${listadoSummoners}">
					<td th:class="${summoner.posicion}"></td>
					<td th:text="${summoner.nombre}"></td>
					<td th:text="${summoner.elo}"></td>
					<td th:text="${summoner.total}"></td>
					<td th:text="${summoner.ganadas}"></td>
					<td th:text="${summoner.perdidas}"></td>
					<td th:text="'%'+${summoner.winrate}"></td>
				</tr>						
			</table>
	</div>
</body>

</html>