<!doctype html>
<html>
<head>
	<div th:replace="fragments/header :: headhtml"></div>
	<meta charset="UTF-8"></meta>
	<title>Home</title>
</head>

<body>
	<div class="container">
		<div th:replace="fragments/main-header :: header">Header</div>
		<div class="row">
			<div class="col-12">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item row"><a class="nav-link purple" href="/home" target="_blank">Pagina E-Commerce&nbsp;<i class="icon-heroku"></i></a><a class="nav-link black" href="https://github.com/HappelJavier/ProyectoWebCommitEComerce" target="_blank"><i class="fa fa-github"></i></a></li>
					<li class="nav-item row"><a class="nav-link purple" href="/arma-tu-pc/armar"  target="_blank">Arma tu PC&nbsp;<i class="icon-heroku" target="_blank"></i></a><a class="nav-link black" href="https://github.com/HappelJavier/ProyectoWebCommitEComerce" target="_blank"><i class="fa fa-github"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</body>

</html>